<ion-header>

</ion-header>

<ion-content>
<form [formGroup]="formCadastro">


<br>
<br>
<br>
<br>

<ion-card>
  <ion-card-header>
  <ion-card-title>
    FICHA DE CADASTRO DE PRODUTO
  </ion-card-title>
</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>NOME:</ion-label>
              <ion-input formControlName="nome"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label>DESCRIÇÃO:</ion-label>
              <ion-input formControlName="descricao"></ion-input>
            </ion-item>

          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label>VALIDADE:</ion-label>
              <ion-input formControlName="validade"></ion-input>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label>PREÇO:</ion-label>
              <ion-input formControlName="preco"></ion-input>
            </ion-item>

          </ion-col>

        </ion-row>
        <ion-button fill="clear"(click)="salvarCadastro()">salvar</ion-button>

        <ion-button fill="outline">
          <ion-item routerLink="/tabs/tab1">
            voltar
          </ion-item>

       </ion-button>

      </ion-grid>
    </ion-card-content>
  </ion-card>



</ion-content>
